<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/recommend">
        <span>输入您的条件：</span><br />
        <span>请输入您的旅游时间限制：</span><input type="number" placeholder="天数" name="day"><br />
        <span>请输入您的旅游费用限制：</span><input type="number" placeholder="费用" name="cost"><br />
        <span>您希望在几月份开始您的旅程：</span><select name="month">
        <option value="1">1月份</option>
        <option value="2">2月份</option>
        <option value="3">3月份</option>
        <option value="4">4月份</option>
        <option value="5">5月份</option>
        <option value="6">6月份</option>
        <option value="7">7月份</option>
        <option value="8">8月份</option>
        <option value="9">9月份</option>
        <option value="10">10月份</option>
        <option value="11">11月份</option>
        <option value="12">12月份</option>
    </select><br />
        <input type="submit" value="提交您的选择">
    </form>
</body>
</html>